node_modules
.DS_Store
dist
dist-ssr
*.local
stub_data
.ipynb_checkpoints
*.ipynb
.vscode
data/*.json
# Below line is temporary while we want to make specific json public for dev
!data/temp_dev_demo_tree.json
