body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  padding: 4em 1em;
  color: #333;
  margin: auto;
  max-width: 65em;
  font-size: 16px;
  font-family: "Noto Serif";
}

p,
ul,
li,
ol,
a {
  max-width: 35em;
}

h1 {
  color: #333;
  font-family: "Noto Sans";
}

h2,
strong {
  /* margin-top: 1em;
  padding-top: 1em; */
  color: #333;
  margin-top: 3em;
  font-family: "Noto Sans";
}

h4 {
  /* margin-top: 4em;
  padding-top: 1em;
   */
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.results {
  border-left: 3px solid #333;
  padding-left: 20px;
  font-size: 14px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dataPoint {
  border: 1px solid lightgrey;
  color: #5c7080;
  padding: 2px 6px;
  border-radius: 2px;
}
